@use '/src/host/styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.controller {
  display: flex;
  align-items: center;
  margin: 20px 10px 16px;
  padding: 10px 15px;
  background-color: theme.$background;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .operation,
  .execution {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .mazeSelector,
  .pathFinder {
    width: 150px;
    border: 1px solid theme.$base;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: theme.$light;
    color: theme.$dark;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: theme.$primary;
    }
  }

  button {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: theme.$primary;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #022c22;
      transform: scale(1.05);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .pathInfo {
    display: flex;
    gap: 15px;

    .highlight {
      font-weight: 600;
      min-width: 3ch;
      display: inline-block;
    }
  }
}

@media (width >= 640px) {
  .controller {
    .pathInfo {
      display: flex;
    }
  }
}

@media (width >= 1024px) {
  .controller {
    .speed,
    .play {
      display: block;
    }

    .mazeSelector,
    .pathFinder {
      width: auto;
    }
  }
}

[data-theme='dark'] {
  .controller {
    background-color: #022c22;
    color: theme.$light;

    .mazeSelector,
    .pathFinder {
      background-color: theme.$dark;
      color: theme.$light;
    }

    button {
      background-color: theme.$primary;
      color: theme.$light;

      &:hover {
        background-color: #022c22;
      }
    }
  }

  .execution {
    img {
      filter: invert(1);
    }
  }

  select {
    background-color: theme.$dark;
    color: theme.$light;
  }
}
