@use '/src/host/styles/theme';
@use '/src/apps/sorting-visualizer/styles/cell-colors';

// Import a professional font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.arrayContainer {
  position: relative;
  padding: 0 20px;
  overflow: auto;
  font-family: 'Roboto', sans-serif;

  .values {
    display: flex;
    padding: calc(var(--cell-size) + 20px) 0;

    .cell {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: var(--cell-size);
      height: var(--cell-size);
      margin: 0 calc(var(--cell-margin) / 2);
      color: theme.$dark;
      background-color: theme.$light;
      border: 1px solid theme.$base;
      border-radius: 4px;
      box-shadow: 0 4px 4px theme.$shadow1;
      transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; // Smooth transitions for color and shadow changes
    }

    @include cell-colors.sort-status-colors;
  }

  .indices {
    position: absolute;
    bottom: calc(var(--cell-size) - 5px);
    z-index: -1;
    display: flex;
    font-size: 0.75rem;
    opacity: 0.25;
    //color: #666; // Improve the readability of indices

    li {
      display: flex;
      justify-content: center;
      width: var(--cell-size);
      margin: 0 calc(var(--cell-margin) / 2);
    }
  }
}
