@use '/src/apps/sorting-visualizer/styles/cell-colors';

// Import a professional font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.arrayContainer {
  position: relative;
  padding: 25px 0 40px;
  overflow-x: auto;
  font-family: 'Roboto', sans-serif;

  .values {
    display: flex;
    align-items: flex-end;
    height: var(--bar-max-height);

    li {
      flex-shrink: 1;
      width: var(--bar-size);
      min-width: var(--bar-min-size);
      margin: 0 calc(var(--bar-margin) / 2);
      background-color: var(--color-bar);
      border: 1px solid var(--color-bar);
      border-radius: 4px; // Add rounded corners to bars
      transition: background-color 0.3s, border-color 0.3s; // Smooth transitions for color changes
    }

    @include cell-colors.sort-status-colors;
  }

  .indices {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    font-size: 0.4rem;
    opacity: 0.4;
    color: #666; // Improve the readability of indices

    li {
      flex-shrink: 1;
      width: var(--bar-size);
      min-width: var(--bar-min-size);
      margin: 0 calc(var(--bar-margin) / 2);
    }
  }
}
